/* css styles */

body {
  font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Adobe Garamond', serif;
}

.navbar-nav > li > a,
.navbar-brand {
  font-family: 'Inter', Sans-Serif;
}

p {
text-align: justify;
text-justify: inter-word; /* spreads words evenly */
}